/*
 * ibut-ext
 * https://github.com/mardonedias/ibut-ext
 * Copyright 2011 Mardone Dias
 *
 * Este arquivo é parte da biblioteca ibut-ext
 *
 * ibut-ext é um software livre; você pode redistribui-lo e/ou
 * modifica-lo dentro dos termos da Licença Pública Geral GNU como
 * publicada pela Fundação do Software Livre (FSF); na versão 3 da
 * Licença, ou (na sua opnião) qualquer versão.
 *
 * Esta biblioteca é distribuida na esperança que possa ser  util,
 * mas SEM NENHUMA GARANTIA; sem uma garantia implicita de ADEQUAÇÂO a qualquer
 * MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
 * Licença Pública Geral GNU para maiores detalhes.
 *
 * Você deve ter recebido uma cópia da Licença Pública Geral GNU
 * junto com este programa, se não, acesse http://www.gnu.org/copyleft/gpl.txt
 */


 /*
*ibut Framework CSS
*/

@import url('rms-forms.css');

/* -----------------------------------------
 * LAYOULT LÍQUIDO 2 COLUNAS
 *------------------------------------------*/
*{font-family: Arial, Helvetica, sans-serif;margin: 0;padding: 0;}
body{min-width: 800px;}
#pagina #topo{}
#pagina #nav{}
#pagina #menu{float: left;margin-top: 0px;width: 180px;}
#pagina #conteudo{margin-left: 202px;}
#pagina #rodape{clear:left;}
#topo, #nav, #menu, #conteudo, #rodape{border: dotted 1px black;margin: 5px;padding: 5px;}

a{
    background-repeat: 
}